
<div class="container-fluid"> 

	<h1 class="center">Olutkaappi</h1>
	<p>Find me in app/views/static_pages/home.html.erb</p>
	
	<div class="container-fluid"> 
	
		<div class="row-fluid">  
			<div class="span4">  
				<h2>Rekisteröityminen</h2>  
		        <p>Rekisteröidy, niin pääset käyttämään tätä superhyperhienoa palvelua koko
		        komeudessaan! Syötä vain tietosi ja hups, oletkin jo jäsen! Jee! Pohjanmaan
		        kautta!
		        Bottoms up!</p>
		        <p><a class="btn btn-success btn-large" href="#">Rekisteröidy</a></p>  
			</div><!--/span-->
			
			<div class="span4">  
				<h2>Top 10 -bisset</h2>  
		        <p>Maailman mahtavimmat maltaat! Bönöisimmät bisset! Oivallisen odotetut oluet!
		        Tsek tis aut!</p> 
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4">  
				<h2>Olutkaappi - Mikä se on?</h2>  
		        <p>Olutkaappi tarjoaa suomalaisille tietoa oluista. Sen keksijät Lauri, Tommi ja
		        Tiina myivät palvelun vuoden kehityksen jälkeen 5 miljoonalla dollarilla
		        Googlelle ja elelevät nyt kukin tahoillaan Havajilla, Monte Carlossa ja Ranskan
		        Rivieralla.</p>
			</div><!--/span-->
			
			<div class="span4">  
				<h2>Jotain WTF</h2>  
		        <p>Edes mä en ymmärrä meidän Design Documentin liitteissä olevaa kuvaa...</p>
			</div>
		</div>
	</div>

</div>
