<h1>Haku</h1>
<div class="row-fluid">
    <div class="span6">
        <form>
            <fieldset>
                <input type="text" placeholder="Kirjoita hakusanat">
                <button type="submit" class="btn">Hae</button>
            </fieldset>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <caption>Hakutulokset</caption>
        <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Nimi</th>
                            <th>Arvostelu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lapin Kulta</td>
                            <td>5.00</td>
                        </tr>
                        <tr>
                            <td>Grafenwalder</td>
                            <td>3.75</td>
                        </tr>
                        <tr>
                            <td>Koff</td>
                            <td>3.74</td>
                        </tr>
                        <tr>
                            <td>Not just another wit</td>
                            <td>3.72</td>
                        </tr>
                        <tr>
                            <td>Karjala</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
