html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-fluid {
	float: center;
}

.span6 {
  text-align: justify;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#brand {
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#brand:hover {
   color: #D1BBA4;
  text-decoration: none;
}

#search {
  margin-bottom: 0px;
  margin-top: 6px;
}

#user_img {
  height: 300px;
}

#logo {
  height: 35px;
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:3px;
  margin-right: 10px;
}

.ui-dialog { 
  position: absolute;
}

div.navbar-inner {
  padding-top: 10px;
}

div#overlay {
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
}

#closeButton {
  position: relative;
  left: 510px;
  top: -35px;
}

a:hover {
 cursor:pointer;
}


