html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-fluid {
	float: center;
}

.span6 {
  text-align: justify;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

// .row-fluid {
// 	float: left;
//     width: 50%;
//     height: 100%;
//     position: relative;
// }


/* header */

#brand {
 // float: left;
  margin-right: 10px;
  font-size: 1.7em;
  // color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#brand:hover {
   color: #D1BBA4;
  text-decoration: none;
}

#search {
  margin-bottom: 0px;
  margin-top: 6px;
}

#user_img {
  height: 300px;
}

#logo {
  height: 50px;
}

.ui-dialog { 
  position: absolute
}

// div.navbar-inner {
//   padding: 0px;
//   height: 42px;
// }

// /* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   // color: #7800;
// }

// footer a {
//   // color: #555;
// }  

// footer a:hover { 
//   // color: #222;
// }

// footer small {
//   float: left;
// }

// footer ul {
//   float: right;
//   list-style: none;
// }

// footer ul li {
//   float: left;
//   margin-left: 10px;
// }

div#overlay {
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
}
div#specialBox {
  display: none;
  position: relative;
  z-index: 3;
  margin: 150px auto 0px auto;
  width: 500px; 
  height: 400px;
  background: #FFF;
  color: #000;
  padding: 25px;
}

#closeButton {
  position: relative;
  left: 510px;
  top: -35px;
}

a:hover {
 cursor:pointer;
}