<footer class="footer">
  <small>
    This is a footer, you see?
  </small>
  <nav>
    <ul>
      <li><%= link_to "Koti",   '#' %></li>
      <li><%= link_to "Search", '#' %></li>
    </ul>
  </nav>
</footer>