<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "olutkaappi", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Koti",    '#' %></li>
              <li><%= link_to "Haku",    '#' %></li>
              <li><%= link_to "Olutsivu", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>