<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "olutkaappi", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= render 'static_pages/searchfield' %></li> 
              <li><%= link_to "Tarkennettu haku",    search_path %></li>
              <li><%= link_to "Oluttietoa", oluttietoa_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>